
/**
 * The Climate Corporation logo.
 */

.logo[data-logo="The Climate Corporation"] {
  width: 0;
}

.logo[data-logo="The Climate Corporation"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="The Climate Corporation"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="The Climate Corporation"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
